# Python for Data Analysis - Pandas

* Series
* DataFrames part 1
* DataFrames part 2
* DataFrames part 3
* Missing Data
* Groupby
* Merging Joining and Concatenating
* Operations
* Data Input and Output

In [89]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from IPython.display import clear_output

## Series
* **Are like numpy arrays, but they can have axis labels. They can be indexed.**
* grab information out of series --> **ser[index_label]**
* ser_a + ser_b --> Try to match up operation based on the index. If there is no match, then the value is null.

In [23]:
labels = ['a', 'b','c']
my_data = [1, 2, 3]
arr = np.array(my_data)
d = {'a':1, 'b':2, 'c':3}

# ser1 == ser2 == ser3
ser1 = pd.Series(data = my_data, index = labels)
ser2 = pd.Series(arr, labels)
ser3 = pd.Series(d)

## DataFrames part 1
* **Dataframe is series sharing the same index.**
* If _**inplace=False**_, the changes are not permanent.
* axis=0 (default) --> rows
* axis=1 --> columns
* grab a row with 2 ways: based on location and index location

In [24]:
#randn --> normally distributed random numbers
from numpy.random import randn
np.random.seed(101)

In [25]:
df  = pd.DataFrame(data = randn(5,4), index = ['A','B','C','D','E'], columns = ['W','X','Y','Z'])

#one columns is a series
#one argument
df['W']

#multiple columns is a dataframe
#list of arguments
df[['W','X']]

#add column
df['new'] = df['X'] + df['Y']

#remove column
df.drop('new', axis=1, inplace=True)

#remove row
df.drop('E')

#grab a row
#1st loc from location
df.loc['C']
#2nd based on index location
df.iloc[2]

#grab a subset of rows and columns
df.loc['B','Y']             #returns a value
df.loc[['A','B'],['W','Y']] #returns a subset

clear_output()

## DataFrames part 2

In [40]:
#returns dataframe of boolean values 
df > 0

#returns values where it is True and NaN where it is False
df[df > 0]

#returns series of boolean values
df['W'] > 0

#returns a subset of the dataframe
#only the rows where it happens to be true
df[df['W'] > 0]

#from the above subset grab the X column
df[df['W'] > 0]['X']

#multiple conditions
#WATCH OUT! and --> & , or --> |
df[(df['W']>0) & (df['Y']<1)]

#reset index
#inplace=True if it has to be permanent
#the initial index is converted to a column and the new one is numerical(0,1,...)
df.reset_index()

#set index
#the initial index will be lost
new_ind = 'Salonika Athens Larisa Patra Xanthi'.split()
df['Cities'] = new_ind
df.set_index('Cities', inplace=True)

## DataFrames part 3
* Index levels
* Call values from multindex dataframe: **df.loc[**outside_index**].loc[**inside_index**][**column**]**
* Cross-section

In [58]:
#index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
#make a list of tuple pairs
hier_index = list(zip(outside,inside))
multilevel_index = pd.MultiIndex.from_tuples(hier_index)

df = pd.DataFrame(randn(6,2), multilevel_index, columns=['A','B'])

#call data from a multilevel index
df.loc['G1'].loc[1]['A']

#name index levels
df.index.names = ['Groups','Num']

#cross-section
df.xs(1,level='Num')

clear_output()

## Missing Data
* dropna method
* fillna method

In [65]:
d = {'A':[1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[1,2,3]}
df = pd.DataFrame(d)

#drop any ROWS that have NaN values
df.dropna()

#drop any COLUMNS that have NaN values
df.dropna(axis=1)

#KEEP the rows that have at least 2 not-NaN values
df.dropna(thresh=2)

#fill NaN values
df.fillna(value='FILL VALUE')

#fill NaN values of a column with the mean of the column
df['A'].fillna(value=df['A'].mean())

clear_output()

## Groupby
* Allows you to group together rows based off of column and perform an aggregate function on them
* An aggregate function has many input ans spit only one output (sum, mean, std, max etc)

In [98]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
        'Person':['Xristoforos','Stella','Xristina','Nikos','Eleni','Mimis'],
        'Sales':[120, 300, 250, 125, 490, 266]}

df = pd.DataFrame(data)
df

  Company       Person  Sales
0    GOOG  Xristoforos    120
1    GOOG       Stella    300
2    MSFT     Xristina    250
3    MSFT        Nikos    125
4      FB        Eleni    490
5      FB        Mimis    266

In [101]:
#group by company and calculate the total sales of each
df.groupby('Company').sum()

         Sales
Company
FB         756
GOOG       420
MSFT       375

In [110]:
#total sales of FB
df.groupby('Company').sum().loc['FB']

#get a bunch of valuable information
df.groupby('Company').describe()
#transpose index --> column
df.groupby('Company').describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   378.000000  210.000000  187.500000
      std    158.391919  127.279221   88.388348
      min    266.000000  120.000000  125.000000
      25%    322.000000  165.000000  156.250000
      50%    378.000000  210.000000  187.500000
      75%    434.000000  255.000000  218.750000
      max    490.000000  300.000000  250.000000

## Merging, Joining and Concatenating

#### Concatenation 
* **pd.cocnat([df1, df2, df3], axis =** _0 or 1_ **)**
* Glues together dataframes
* Dimensions should match along the axis you concatenating on

#### Merging
* **pd.merge(df1, df2, on=** _'common column'_ **)**
* Merge dataframes together on a common column
* **how** parameter for extra functionality (outer, inner, right, left)

#### Joining
* **df1.join(df2)**
* Combining columns of 2 potentialy differently-indexed dataframes into a single result dataframe

## Operations

In [138]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

#get the unique values of a column
df['col2'].unique()

#count the unique values of a column
df['col2'].nunique()

#how many times each unique value is occured in that column
df['col2'].value_counts()

#conditional selection
df[(df['col1']>2) & (df['col2']==444)]

#apply a custom method
#broadcast function to each element of that column
df['col1'].apply(lambda x : x*2)

#get the name of the columns
df.columns

#same for the index
df.index

#sort by the values of a column
df.sort_values(by='col2')

#check for NaN values
#returns a boolean dataframe
df.isnull()

#pivot table
data = {'A':['foo','foo','foo','bar','bar','bar'],
        'B':['one','one','two','two','one','one'],
        'C':['x','y','x','y','x','y'],
        'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

df.pivot_table(values=['D'], index=['A','B'], columns=['C'])

clear_output()

## Data Input and Output
* There are a lot of file options to read from. Just type pd.read_ and pres TAB to see them.
* Here are presented just some examples (csv, excel, html)

#### CSV
* Input --> **df = pd.read_csv(**'example'**)**
* Output --> **df.to_csv(**'example'**,index=False)**
* index=False if we don't want to save index as a column.

#### Excel
* Python can just read data, not insert formula etc
* **WATCH OUT!** When you read it's _sheetname_ and when you write is _sheet_name_
* Input --> **pd.read_excel(**'Excel_Sample.xlsx'**,sheetname='Sheet1')**
* Output --> **df.to_excel(**'Excel_Sample.xlsx'**,sheet_name='Sheet1')**

#### HTML
* Input --> **data = pd.read_html(**'http://www.fdic.gov/bank/individual/failed/banklist.html'**)**
* **data** is a list, so we need to cycle through that ls\ist to find what we are looking.
* df = data[0]

## Notes from excercises
* **.info()** to get the information of a dataset
* **lambda(arguement_passed : expression)**
* Don't forget parenthesis when you're doing conditional selection